select {
  text-align: center;
}

.App {
  text-align: center;
}

.Task {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px;
  border-style:solid;
  border-color: black;
}

.editTask {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px;
  border-style:dashed;
  border-color: rgb(172, 167, 100);
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasksFather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn {
  margin: 3px;
  margin-bottom: 5px;
}

.newTaskAndHeader {
  padding: 5px;
}

.ascDesc {
  display: inline;
  padding: 2px;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskAndStatus {
  margin-top: 5px;
}