.App {
  text-align: center;
}

.Task {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px;
  border-style:solid;
  border-color: black;
}

.editTask {
  text-align: center;
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: 2px;
  border-style:dashed;
  border-color: rgb(172, 167, 100);
}

.subheader {
  display: flex;
  justify-content: center;
}

.tasksFather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

